.about-device hr {
  border: rgb(0, 0, 0);

  background-color: black;
  overflow: visible;
  text-align: center;
  height: 1.5px;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.about-device {
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 3rem;
  z-index: 4;
}

.about-butterfly {
  position: fixed;
  top: 10rem;
  right: -20rem;
  z-index: -30;
  height: 50rem;
  opacity: 0.5;
}

.about-device-header {
  margin-top: 0rem;
}

.about-device h1 {
  font-size: 2.6rem;
  padding-bottom: 1%;
}

.about-device span {
  font-size: 2rem;
}

.about-device img {
  width: 70vmin;
  margin: 0.5rem;
  /* box-shadow: 0 -0.3rem 1rem 0.2rem rgba(40, 39, 39, 0.2); */
  /* box-shadow: 2px 2px 2px rgba(40, 39, 39, 0.2); */
  z-index: 5;
}

.about-device p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70vmin;
  font-size: 1.1rem;
  color: rgb(12, 12, 11);
  /* text-shadow: 2px 2px 2px rgb(230, 228, 243); */
  /* transition: all 0.7s ease-out; */
}

.about-device p:hover {
  /* text-shadow: 3px 3px 3px rgb(0, 0, 0); */
}

.mkframe {
}

.blueWave {
  box-shadow: none;
  position: absolute;
  left: -5rem;
  top: 40rem;
  z-index: -44;
}

@media screen and (max-width: 375px) {
  .about-device p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80vmin;
  }

  .about-device img {
    width: 75vmin;
  }
  .about-device h1 {
    font-size: 2rem;
  }
}
