@import url("https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap");
/* font-family: "Linden Hill", serif; */
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Zen Old Mincho", serif;
  background-color: rgba(252, 242, 212, 0.918);
  background-image: url("../../public/assets/binding-light.png");
}
