@import url("https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap");
/* font-family: "Linden Hill", serif; */
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Zen Old Mincho", serif;
  background-color: rgba(252, 242, 212, 0.918);
  background-image: url("../../public/assets/binding-light.png");
}

.home {
  display: flex;
  flex-direction: column;
}

.banner {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ban-logo {
  max-width: 600px;
}

img.logo {
  max-height: 500px;
  max-width: 80vw;
  transition: all 1s ease-out;
  filter: drop-shadow(0.15rem 0.15rem 0.15rem rgb(19, 19, 19, 0.2));
}

img.logo:hover {
  scale: 1.04;
}

.intro {
  box-shadow: 0 -0.5rem 1rem rgba(40, 39, 39, 0.2);
  height: auto;
  width: 100vw;

  /* padding-top: 0.2rem;
  padding-bottom: 0.2rem; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/assets/hands-on-tummy.jpg");
}

.intro > p {
  text-align: center;
  margin-top: 8%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 8%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(252, 252, 250);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  transition: all 1s ease-out;
}

.intro > p:hover {
  text-shadow: 0.7rem 0.7rem 0.7rem rgb(0, 0, 0);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-bottom: 10%;
  margin-top: 7%;
}

.button-container button {
  border-radius: 1.3rem;
  font-size: 1.3rem;

  margin: 1.6rem;
  font-family: "Zen Old Mincho", serif;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  box-shadow: 0 0.1rem 01rem 0.1rem rgba(40, 39, 39, 0.2);
  border: solid;
  color: rgb(252, 252, 250);

  background-color: rgba(168, 121, 181, 0.918);
  background-image: url("../../public/assets/binding-light.png");

  transition: all 0.5s ease-out;
}

.button-container button:hover {
  box-shadow: 6px #e7b365;
  scale: 1.02;
  color: #f7e4c7;
  text-shadow: 2px 2px 2px rgb(97, 95, 95);
}

@media screen and (max-width: 740px) {
  .intro > p {
    font-size: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    margin-bottom: 20%;
  }

  .button-container button {
    white-space: nowrap;
    font-size: 1.2rem;
    width: 90%;
    margin: 0.4rem;
  }

  .app-btn {
    content: "Book";
  }
}
